h1,h2{
    text-align: center;
    color: rgb(0, 0, 0);
}
#right{
    color: green;
}
#wrong{
    color: red;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; /* Center horizontally */
    border: 2px red solid;
    background-color: rgb(224, 151, 15);
  }  
  
  svg {
    width: 100%; /* Make the SVG responsive */
    height: auto;
    max-width: 500px; /* Limit the maximum width of the SVG */
    background-color: rgb(255, 166, 0);
    border: 2px rgb(255, 0, 0) solid;
  }


  





