

<div class="container">
  <div class="card">
    <div class="card-body">
      <!-- <p>Question NO 2: Select name of image</p> -->
       <p *ngIf="displayquestionno">Question no {{qid}}</p>
      <router-outlet />
    </div>

    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="Previous()" >Previous</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="save()"  >Save</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0);"  (click)="share()" >Share</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="Next()" >Next</a></li>
    </ul>
  </div>

  <div class="card-columns mt-4">
    <div class="card bg-success" *ngFor="let item of qset">
      <div class="card-body text-center">
        <p class="card-text"></p>
        <a routerLink="{{item.desc}}" class="btn btn-primary" >{{item.qname}}</a>
      </div>
    </div>
  </div>

</div>